#############################
# TYPO3 CMS Base Distribution
#############################
.DS_Store
.idea
bin
index.php
nbproject
vendor
typo3
typo3_src
web/index.php
web/typo3
web/typo3temp
web/uploads
ENABLE_INSTALL_TOOL

web/typo3conf/ext/*
!web/typo3conf/ext/mdtrade_package
web/typo3conf/l10n

